body {
    font-family: sans-serif
}

h1 {
   color: #ccc;
   font-weight: 300  
}

.content > article {
    padding: 100px 0;
    max-width: 640px;
    margin: 0 auto;
    text-align: center;
}

img {
    max-width: 100%;
}

/*Parallax*/

.photo-box {
    position: relative;
    height:500px;
    background-image: url("/image/parallax-layers-1.jpg");
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    overflow: hidden;
}

.logo {
    height: 120px;
    width: 100%;
    background-image: url("/image/Page\ 1logo.svg");
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    margin-top:-60px;
}

.photographer {
    width:800px;
    height: 520px;
    background-image: url("/image/photographer.png");
    background-color:rgba(0,0,0,0);
    background-repeat: no-repeat;
    background-position: right bottom;
    position: absolute;
    left: 40%; 
    
    top:230px;
}

.bubble {
    width:522px;
    height:300px;
    background-image: url("/image/bubble.png");
    background-color:rgba(0,0,0,0);
    background-position: top left;
    position: absolute;
    left:200px;
    
}

/*
.background-layer {
    size:contain;
    position: top cernter;
}
*/